.category-choose-box {
    cursor: pointer;
    margin-bottom: 20px;
}

.category-choose-box .category {
    display: none;
}

.category-choose-box-active .category {
    display: block;
    padding: 7px;
}

.category:hover {
    background-color: #27293F;
}

.category-choose-box-active> :first-child {
    margin-bottom: 20px;
}