.input-range-wrapper label{
    width: 50px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-left: 20px;
    font-weight: 700;
    transition: .1s all;
}

.range-label-red{
    background-color: #D35077;
}

.range-label-yellow{
    background-color: #E09373;
}

.range-label-violet{
    background-color: #60669F;
}