.input-with-label{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input-with-label input{
    width: auto;
    margin-left: 20px;
}

.input-with-label .main-text{
    margin: 0;
}

.admin-section{
    margin-bottom: 50px;
}

.reg-name{
    margin-bottom: 10px;
}

.reg-users-user{
    display: flex;
    justify-content: space-between;
}

.reg-users-title{
    margin-bottom: 20px;
}